.imageProduct {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.title {
    color: #fff;
    font-size: 2em;
    line-height: 1.3em;
    width: 70%;
    font-weight: bold;
}

.price {
    font-weight: bold;
    color: #fff;
}

.label {
    color: #fff;
    font-size: 1.5em;
    font-weight: light;
}

.colorWhite {
    color: #fff !important;
}

.yellowBorder {
    border-color: #EAE7B1 !important;
}

.btnCart {
    background-color: #3C6255 !important;
    color: #fff !important;
    border: 1px solid #EAE7B1 !important;
    font-weight: bold;
    margin-right: 2em;
}

.btnCart:hover {
    border: none;
    background-color: #58904ed9 !important;
}

.boxDescription {
    padding: 16px;
    border: 1px solid #EAE7B1;
}