.toast-error-container {
  color: #000 !important;
  border-radius: 10px !important;
  background: #FFFFFF !important;
  /* box-shadow: 3px 3px 6px #5F899E4D !important; */
}

.toast-success-container.Toastify__progress-bar {
  background: #4CAF50 !important;
}

.toast-error-container.Toastify__progress-bar {
  background: #EF5350 !important;
}

.toast-error-container-after {
  overflow: hidden;
  position: relative;
}

.toast-error-container-after::after {
  top: 0;
  left: 0;
  content: '';
  width: 7px;
  height: 76%;
  position: absolute;
  display: inline-block;
  background-color: #EF5350;
  margin-top: 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toast-success-container {
  color: #000 !important;
  background: #E8F5E9 !important;
  /* box-shadow: 3px 3px 6px #5F899E4D !important; */
  min-width: 207px !important;
  min-height: 49px !important
}

.toast-success-container-after {
  overflow: hidden;
  position: relative;
}

.toast-success-container-after::after {
  top: 0;
  left: 0;
  content: '';
  width: 7px;
  height: 76%;
  position: absolute;
  display: inline-block;
  margin-top: 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toast-warning-container-after {
  color: #000 !important;
  border-radius: 10px !important;
  background: #FFFFFF !important;
  /* box-shadow: 3px 3px 6px #5F899E4D !important; */
}

.toast-warning-container-after::after {
  top: 0;
  left: 0;
  content: '';
  width: 7px;
  height: 76%;
  position: absolute;
  display: inline-block;
  background-color: #FFA000;
  margin-top: 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}