.container {
    box-sizing: border-box;
    background-color: #192E29;
    width: 100vw;
    overflow: hidden;
    height: 75vh;
    padding: 50px 50px;
}

.title {
    color: #DB4C3F !important;
    font-weight: bold !important;
    font-size: 50px !important;
}

.subtitle {
    color: #3C6255;
}

.formContainer {
    background-color: #EAE7B1;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.label {
    /* text-align: right; */
}

.inputField {
    text-align: left;
}

.btnRed {
    background-color: #F16255 !important;
    border-radius: 20px;
    color: white;
}

.textWhite {
    color: #fff
}

.description {
    color: #F16255
}

.centerBox {
    display: flex;
    align-items: center;
}